{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_notices/notices

    TODO describe template notices

    Example context (json):
    {
    }
}}
{{^notices}}
<p>{{#str}} nonotices, block_notices {{/str}}</p>
{{/notices}}
<div id="stream-dashboard-notices">
    <div class="swiper">
        <div class="swiper-wrapper">
        {{#notices}}
            <div class="swiper-slide">
                <div class="item item__visible_{{visible}}">
                    <div>
                        <div class="item__heading">
                            <h6 title="{{title}}">{{title}}</h6>
                            <div class="item__info">{{updatedescription}}</div>
                        </div>
                        <div class="item__content">{{{content}}}</div>
                        <div class="item__more_info">
                        <a target="_blank" href="{{moreinformationlink}}">{{moreinformationtext}}</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/notices}}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
{{#canmanage}}
<hr />
<div><a role="button" href="{{wwwroot}}/blocks/notices/manage.php?courseid={{courseid}}">{{#pix}} t/preferences, core, {{#str}} managenotices, block_notices {{/str}} {{/pix}}{{#str}} managenotices, block_notices {{/str}}</a> (only admins can see this option)</div>
{{/canmanage}}