{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_notices/notices_admin

    TODO describe template notices_admin

    Example context (json):
    {
    }
}}
{{#groups}}
<div class="block_notices_group block_notices_group-{{css}}">
<h3>{{description}}</h3>
{{^notices}}
<div>No notices</div>
{{/notices}}
<ul class="list-group pb-3">
    {{#notices}}
    <li class="list-group-item visibility-{{visible}}" draggable="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{#showsortorder}}<span class="badge badge-secondary">{{sortorder}}</span> {{/showsortorder}}{{title}}</h5>
            <small>{{updatedescription}}</small>
        </div>
        <p class="mb-1">{{{content}}}</p>
        <div class="d-flex justify-content-between">
            <small>{{#str}} moreinformationurl, block_notices {{/str}}: <a href="{{moreinformationurl}}" target="_blank">{{moreinformationurl}}</a></small>
            <small>{{#str}} owner, block_notices {{/str}}: <a title="Click to email" href="mailto:{{owneremail}}">{{owner}}</a></small>
        </div>
        <hr />
        <div class="d-flex justify-content-between align-items-center">
            <span style="font-size: inherit; font-weight: 300;" class="badge badge-{{css}}">{{description}}</span>
            <div class="d-flex justify-content-end" style="gap: 1em;">
                {{#canmoveup}}<a role="button" href="manage.php?sesskey={{sesskey}}&courseid={{courseid}}&action=moveup&id={{id}}">{{#pix}} t/up, core, {{#str}} moveup, core {{/str}} {{/pix}}{{#str}} moveup, core {{/str}}</a>{{/canmoveup}}
                {{#canmovedown}}<a role="button" href="manage.php?sesskey={{sesskey}}&courseid={{courseid}}&action=movedown&id={{id}}">{{#pix}} t/down, core, {{#str}} movedown, core {{/str}} {{/pix}}{{#str}} movedown, core {{/str}}</a>{{/canmovedown}}

                {{#canshow}}<a role="button" href="manage.php?sesskey={{sesskey}}&courseid={{courseid}}&action=show&id={{id}}">{{#pix}} t/hide, core, {{#str}} show, core {{/str}} {{/pix}}{{#str}} show, core {{/str}}</a>{{/canshow}}
                {{#canhide}}<a role="button" href="manage.php?sesskey={{sesskey}}&courseid={{courseid}}&action=hide&id={{id}}">{{#pix}} t/show, core, {{#str}} hide, core {{/str}} {{/pix}}{{#str}} hide, core {{/str}}</a>{{/canhide}}
                
                <a role="button" href="edit.php?id={{id}}">{{#pix}} t/edit, core, {{#str}} edit, core {{/str}} {{/pix}}{{#str}} edit, core {{/str}}</a>
                <a role="button" href="manage.php?sesskey={{sesskey}}&courseid={{courseid}}&action=delete&id={{id}}">{{#pix}} t/delete, core, {{#str}} delete, core {{/str}} {{/pix}}{{#str}} delete, core {{/str}}</a>
            </div>
        </div>
    
    </li>
    {{/notices}}
</ul>
</div>
{{/groups}}
<hr />

<div>
<a role="button" href="add.php?courseid={{courseid}}">
{{#pix}} t/preferences, core, {{#str}} addnotice, block_notices {{/str}} {{/pix}}{{#str}} addnotice, block_notices {{/str}}
</a>
</div>